@font-face {
    font-family: "logofont";
    src: url(./fonts/junegull.ttf);
}

.navbar-brand {
    font-family: 'logofont';
    color: black;
}

.nav-item {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}