
@font-face {
    font-family: 'requestfont';
    src: url(../Odin\ Rounded/Regular/Odin\ Rounded\ -\ Regular.otf);
}
.container{
    font-family: "requestfont";
    margin-top: 15px;
    font-size: larger;
}

.checkboxes {
    margin-top: 10px;
}
.form-group{
    margin-top: 8px;
}